*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Master{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: aqua;
}

.Channels_area{
    width: 45%;
    height: 100%;
    background-color: red;
}


.Chat_areaC{
    width: 100%;
    height: 83vh;
    background-color: #b5b5b5;
    border: 1px solid gray;
}